@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


video {
  position: fixed; /* Ensures the video stays in place while scrolling */
  top: 0;
  left: 0;
  width: 100%; /* Makes the video span the full width of the screen */
  height: 100%; /* Makes the video span the full height of the screen */
  object-fit: cover; /* Ensures the video covers the screen without distortion */
  z-index: -1; /* Places the video behind other content */
}



body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(45deg, #0a0a0a, #3a4452); */
    background: url(kitty.mp4);
}



.calculator{
    border: 1px solid #4A5C6A;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(77, 77, 79, 0.9);

}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #CCD0CF;
}

input::placeholder{
    color: #ffffff;

}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: #101e29a2;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px #06141b;
    cursor: pointer;
}

.equalBtn{
    background-color: #fb7c14;
}

.operator{
    color: #0F8F98;
}